<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="10 minutes">
    <property name="LOG_PATH" value="logs"/>
    <springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active"/>
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <timestamp key="timestamp-by-second" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <pattern>
                    %d{yyyy-MM-dd_HH:mm:ss.SSS} %-4relative [%thread][${APP_NAME:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] %-5level %logger{35} - %msg %n
                </pattern>
            </pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>
        <append>true</append>
        <encoder>
            <pattern>
                <pattern>
                    %d{yyyy-MM-dd_HH:mm:ss.SSS} %-4relative [%thread][${APP_NAME:-},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] %-5level %logger{35} - %msg %n
                </pattern>
            </pattern>
        </encoder>
    </appender>
    <springProfile name="local, cidocker">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

</configuration>
